@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Họ Tên :Nguyễn Danh Trường <br />
        K22CNTT4:2210900071<br />
        Email:truong626215@gmail.com<br />
        <abbr title="Phone">Số Điện Thoại:</abbr>
        0797475264
    </address>

    <address>
        <strong>Support:Trịnh Văn Chung</strong>   <a href="mailto:Support@example.com">Support:Trịnh Văn Chung</a><br />
        <strong>Marketing:Nguyễn Danh Trường </strong> <a href="truong626215@gmail.com ">Nguyễn Danh Trường </a>
    </address>
</main>